<% if user_signed_in? %>
<%= javascript_pack_tag 'hello_react' %>
<% else %>


  <div class="maincontent">
  	<div class="hero-image">
  		<div class="hero-text">
		    <h1 style="font-size:50px">Undercover Santa</h1>
		  </div>

    </div>
    <section  id="home">
	      <div class="home-content">
          <h3>Simplify your secret santa</h3>
					<h5>No more messy drawing of lots where someone gets their own name, or forgetting the event details.<br />
					Undercover Santa helps you set up the perfect gathering. <br />
					Set your theme or budget for the event, <br />
					and pair up your friends at a click of a button.</h5>
					<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-primary' %>
        </div>

    </section>

  </div>

<% end %>